//navbar
$navbar-box-shadow-size: 0 10px 0 0;
$navbar-height: 4.1rem;

//color
$primary: #03a87c;
$primary-light: #fef6e1;
$danger: #ff5c5c;
$dark: #2e2e2e;
$border-grey: 1px solid #cbcbcb;
$blue: #3aa1ff;
$green: #2fd398;
$success: #00ca99;
$grey: #0000008a;
$box-border: #0000001a;

//border-bottom tabs
$tabs_border-bottom-color: #e5e5e5;

//box
$box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
$box-radius: 5px;