@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

// override variables
@import './variables';

// bulma css
@import '../../node_modules/bulma/bulma.sass';

#root {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 1408px) {
    .container {
      max-width: 1160px;
    }
}

@import './utilities';
@import './typography';